.time_navigation{
	text-align: center;
}

#timesheet{
	text-align: center;
}

th{
	text-align: center;
}

#time_period{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 18px;
}

.time_navigation span {
	padding: 0px 5px 0px 5px;
	color: blue;
	cursor:pointer;
}

#submit{
	margin-top: 50px;
}

.note{
	float: right
}